:root {
  --dark-color: #333;
  --light-color: #ff751a;
  --medium-color: #558000;
  --hover: #008000;
  --white: #e6ffe6;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, sans-serif;
  color: var(--lighter-black);
  font-weight: bold;
  background-image: linear-gradient(to bottom right, yellow, green);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0px;
}

p {
  text-size: 50px;
  padding: 10px;
  margin: 10px;
  color: var(--dark-color);
}

h1 {
  color: var(--medium-color);
  padding: 10px;
}

h3 {
  padding: 20px;
}

h4 {
  color: var(--white);
  padding: 10px;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 2;
  overflow: hidden;
  background-color: var(--dark-color);
}

li {
  float: left;
  border-right: 1px solid #f6ff54;
}

li a {
  padding: 10px 25px;
}

a {
  text-decoration: none;
  color: var(--medium-color);
  display: block;
  padding: 4px;
}

* {
  margin: 40;
  padding: 20;
  box-sizing: border-box;
}

form {
  display: flex;
  align-items: center;
  gap: 8px;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: var(--medium-color);
  color: var(--white);
  padding: 10px 20px;
  margin: 1px;
  margin-left: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.sticker-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.sticker-button:hover {
  background: none;
  border: none;
}

.sticker-img {
  width: 20px;
  height: 20px;
}

.nav-links {
  list-style-type: none;
  gap: 20px;
  float: left;
}

.navbar a {
  font-weight: bold;
}

.navbar a {
  background-color: var(dark-color);
  color: var(--medium-color);
}

.navbar a:hover {
  background-color: var(--medium-color);
  color: var(--dark-color);
}

.navbar a:active {
  background-color: var(--medium-color);
  color: var(--white);
}

textarea {
  width: 35%;
  height: 150px;
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: var(--white);
  color: var(--dark-color);
  resize: vertical;
}

.footer {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  color: var(--medium-color);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer-container {
  margin-top: auto;
}

.news-item {
  background-color: var(--medium-color);
  padding: 20px;
  margin: 30px;
  border-radius: 8px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.books-container, .movies-container, .games-container {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.book-card, .movie-card, .game-card {
  border-radius: 8px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.1);
}
